__pycache__
!README.md
.coverage
.dockerignore
.DS_Store
.env*
.git
.gitattributes
.github
.github/workflows/
.gitignore
.hypothesis/
.idea
.mypy_cache/
.pylint.d/
.pytest_cache/
.Python
.ruff_cache
.tox/
.venv
.vscode
*.bak
*.cover
*.egg
*.egg-info/
*.log
*.md
*.py[cod]
*.so
*.swo
*.swp
*~
*$py.class
build/
CHANGELOG.md
coverage.xml
coverage/
db.sqlite3
dist/
docker-compose*.yaml
docker-compose*.yml
Dockerfile*
docs/
env/
ENV/
htmlcov/
mkdocs.yml
scripts/
tests/
Thumbs.db
venv/
