---
name: "Docker Build and Push"
description: "Composite action to build and push Docker images"
author: "mighty-muffin"

inputs:
  token:
    description: "GitHub token for authentication"
    required: false
    default: ${{ github.token }}
  push:
    description: Push image to registry(s)
    required: false
    default: "false"

runs:
  using: "composite"
  steps:
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to GHCR
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ inputs.token }}

    - name: Docker meta
      id: docker_meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: |
          ghcr.io/${{ github.repository }}
        flavor: |
          latest=auto
        tags: |
          type=raw,value=latest,enable={{is_default_branch}},priority=100
          type=ref,event=branch,priority=100
          type=raw,value=gha-${{ github.run_id }},enable=${{github.event_name == 'pull_request'}},priority=200
          type=raw,value=nightly-${{ github.run_id }},enable=${{github.event_name == 'schedule'}},priority=200
          type=ref,event=pr,priority=200
          type=ref,event=tag,priority=200
          type=sha,value={{sha}},enable={{is_default_branch}},priority=300

    - name: Docker Build
      id: build_image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        platforms: |
          linux/amd64
        context: .
        file: ./Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: ${{ inputs.push }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        labels: ${{ steps.docker_meta.outputs.labels }}
        build-args: |
          BUILDKIT_INLINE_CACHE=1
          GIT_COMMIT=${{ github.sha }}
          REPO_URL=${{ github.server_url }}/${{ github.repository }}

    - name: Find the primary image tag we just pushed, and output it
      id: image-tag
      run: |
        # shellcheck disable=SC2086
        echo "image-tag=${{ steps.docker_meta.outputs.version }}" >> $GITHUB_OUTPUT
      shell: bash
